<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <h3>Welcome, <%= user.first_name %></h3>
    <a href="/write">Write a message</a>
    <% if(user.membership === "n") { %>
    <a href="/become-a-member">Become a member</a>
    <% } %> <% messages.forEach(msg => { %>
    <ul>
      <li>
        <%= (msg.first_name || " ") %> <%= (msg.last_name || " ") %> <%=
        (msg.title || " ") %> <%=(msg.content || " ") %>
      </li>
    </ul>
    <% }); %>

    <form action="/logout" method="POST">
      <button type="submit">Log Out</button>
    </form>
  </body>
</html>
